#!/bin/bash
NAME="goods"                                  # Name of the application
DJANGODIR=/Workspace/Goods # Django project directory
PORT=8000
USER=username                                  # the user to run as
GROUP=groupname                                    # the group to run as
NUM_WORKERS=2                                     # how many worker processes should Gunicorn spawn
DJANGO_SETTINGS_MODULE=settings             # which settings file should Django use
DJANGO_WSGI_MODULE=wsgi                     # WSGI module name
GUNICORN_ACCESS_LOG=/Workspace/Goods/logs/gunicorn-access.log
GUNICORN_ERROR_LOG=/Workspace/Goods/logs/gunicorn-error.log

echo "Starting $NAME as `whoami`"

# Activate the virtual environment
cd $DJANGODIR
source /.virtualenvs/goods/bin/activate
export DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
export PYTHONPATH=$PYTHONPATH:$DJANGODIR:$CRAWLERDIR
echo $PYTHONPATH
# Create the run directory if it doesn't exist
# RUNDIR=$(dirname $SOCKFILE)
# test -d $RUNDIR || mkdir -p $RUNDIR

# Start your Django Unicorn
# Programs meant to be run under supervisor should not daemonize themselves (do not use --daemon)
exec gunicorn ${DJANGO_WSGI_MODULE}:application \
  --name $NAME \
  --workers $NUM_WORKERS \
  --user=$USER --group=$GROUP \
  --bind=127.0.0.1:$PORT \
  --access-logfile=$GUNICORN_ACCESS_LOG \
  --error-logfile=$GUNICORN_ERROR_LOG \
  --log-level=error
